<ion-app>
  <ion-header>
    <ion-toolbar color="success">
      <ion-title text-center>
        Budget Planner
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title><b> New Expense</b></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Expense Reason</ion-label>
                <ion-input type="text" id="input-reason" [(ngModel)]="inputReason"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Expense Amount</ion-label>
                <ion-input type="number" [(ngModel)]="inputExpense" id="input-amount"></ion-input>
              </ion-item>
              <div margin-verticle text-right>
                <ion-button color="primary" id="btn-confirm" (click)="add()">
                  <ion-icon slot="start" name="add"></ion-icon>Add Expense
                </ion-button>
               
                <ion-button fill="outline" color="danger" id="btn-cancel" (click)="clear()">
                  <ion-icon name="close" slot="start"></ion-icon>Clear
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col >
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list id="expense-list" >
             </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-list id="expense-total">
              <p margin>{{total}}</p>
            </ion-list>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>